.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 5px;
}

.about h2 {
  color: #89908c;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0px;
}

.theBlueVid {
  width: 80vw;
  height: 50vw;
  margin-bottom: 25px;
}

.badAdviceVid {
  width: 80vw;
  height: 50vw;
}

@media (max-width: 500px) {
  .about {
    flex-direction: column;
  }

  .about h2 {
    margin-top: 0px;
  }
}
