
.hero {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroText{
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: 'Rubik Maze', cursive;
  font-weight: 400;
  color: #e55754;
  font-size: clamp(4rem, 7vw, 7rem);
  line-height: .8;
}
.heroTextBackground{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: absolute;
  top: 47vh; 
}

@media (max-width: 500px) {
  .heroTextBackground{
    top: 45vh
  }
  
}