.styledButton {
    border-radius: 10px;
    padding: 0.5rem 1.4rem;
    background-color: #e55754;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: #fffefd;
    transition-duration: 0.4s;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .styledButton:hover {
    transform: scale(1.1);
    background-color: #fffefd;
    color: #e55754;
  }

  .icon{
    margin-right: 0.2em;
  }